.flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .btn-primary {
    /* background: var(--primary-color); */
    /* color: var(--ternary-color); */
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background: transparent;
    border-color: var(--primary-color);
    color: aqua;
  }
  
  .btn-secondary {
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    padding: 13px;
  }
  .btn-secondary:hover {
    background: var(--primary-color);
    color: var(--light-color);
  }
  .flex-1 {
    flex: 1;
  }
  .justify-center {
    justify-content: center;
  }
  